body {
  font-family: Arial, sans-serif;
  color: rgb(53, 27, 27);
  padding: 20px;
  background-color : black;
}
h1 {
  color: #260303;
}
h2 {
    font-size: 24px;
    font-weight: bold;
  }
p {
    font-size: 16px;
  }
section {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }   
footer {
  background-color: #f1f1f1;
}
#img1{
    max-width: 100%;
    height: auto;
}
#channels{
    font-size: 17px;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-size: medium;
    color: black;
    background-color: rgba(227, 223, 217, 0.793);
}
a:hover{
    color: black;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    
}
